div {
  font-size: 14px;
  width: 100%;
  text-align: center;
  padding: 10px;
  /*font-weight: bold;*/
}

.container-1 { 
  color: #5CE800;
  background-color: #FFCC00;
}
.container-2 { 
  color: #FF0000;
  background-color: #616C00;
}
.container-3 { 
  color: #2B52FF;
  background-color: #D929E2;
}
.container-4 { 
  color: #C9C9C9;
  background-color: #00E0E0;
}
.container-5 { 
  color: #009A00;
  background-color: #B28200;
}
